/* CONTACT CSS */

.date-active{
    border-left: 15px solid #0d6efd;
    text-indent: 5px;
}

.date-inactive{
    border-left: 15px solid #dc3545;
    text-indent: 5px;
}

.form-control {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
    font-size: 1.2rem;
}

.btn-dark-per {
    font-family: 'Genos', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #e9e8e8;
    background-color: #913175;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
}

.btn-dark-per:hover {
    background-color: #f9a826;
    color: #20262e;
}