.nav-arrow {
    background-color: #913175;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
    height: 100px;
}

.main-title {
    font-family: 'Genos', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 0 0.1rem 0.1rem #000;
}

.form-check-input:focus {
    border: none;
    box-shadow: 0 0 0 0.2rem #f9a826;
}

.form-check-input:checked {
    background-color: #913175;
    border-color: #913175;
}

.arrow {
    color: #E9E8E8;
    cursor: pointer;
}

.arrow:hover {
    color: #f9a826;
}

.arrow:active {
    transform: scale(0.9);
}


/* HOME AND UPCOMING EVENTS CSS */

.form-control:focus,
#inputFinder:focus {
    box-shadow: 0 0 0 0.2rem #f9a826;
}

#inputFinder {
    border: none;
    border-radius: 25px 0 0 25px;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
}

.finder-container-label {
    border-radius: 0 25px 25px 0;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
}

.finder-container {
    width: 300px;
}

.card-alt {
    min-height: 400px;
    width: 290px;
    box-shadow: 0 0.2rem 0 0.2rem #913175;
    border-radius: 25px;
    overflow: hidden;
}

.card-alt:hover {
    box-shadow: 0 0.2rem 0 0.2rem #f9a826;
}

.card-alt p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: absolute;
    padding: 0 1rem;
    bottom: 15px;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease;
    max-height: 120px;
    line-break: anywhere;
}

.price {
    padding: 0 0.2rem;
    border-radius: 5px;
    background-color: #f9a826;
    font-family: 'Genos', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
    transform: translateX(-90px) translateY(-10px) rotate(45deg);
    /* width: 300px; */
}

.card-alt button {
    /* position: absolute; */
    /* border-radius: 25px; */
    position: relative;
    font-size: 1.3rem;
    /* background-color: #d50267; */
    color: #e9e8e8;
    transition: all 0.5s ease-in-out;
    rotate: 45deg;
}

.card-alt button:hover {
    background-color: #f9a826;
    color: #e9e8e8;
}


main .card-alt img {
    object-fit: cover;
    width: auto;
    height: 200px;
}

.card-alt .card-body{
    background: #20262e;
}

.card-alt p:first-of-type:first-letter {
    font-size: 1.8em;
    font-family: Georgia, Times, serif;
    margin-right: 0.05em;
}

.card-alt .con-card-footer {
    position: absolute;
    background: transparent;
    /* height: auto; */
    width: 100%;
}

.icon-card{
    position: absolute;
    bottom: 45%;
    left: 45%;
    color: #f9a826;
    z-index: 10;
    transition: all 0.5s ease;
}

.card-alt .con-card-footer::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: -95px;
    left: -30%;
    width: 150%;
    background-image: linear-gradient(to top, #913175, #d50266);
    height: 200px;
    transition: all 0.5s ease;
}

.card-alt:hover .con-card-footer::after{
    transform: translateY(145px);
    transition: all 0.5s ease;
}

.card-alt:hover .icon-card{
    transform: translateY(150px) rotate(180deg);
    transition: all 0.5s ease;
}

.card-alt:hover p{
    transform: translateY(150px);
    transition: all 0.5s ease;
}

.card-alt:hover button{
    transform: translateX(-90px) rotate(-45deg) translateY(10px);
    transition: all 0.5s ease-in-out;
}

.card-alt:hover .price{
    transform: translateX(76px);
    transition: all 0.5s ease-in-out;
}



/* CONTACT CSS */

.form-control {
    border: none;
    border-radius: 25px;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
    font-size: 1.2rem;
}

/* .h-form-contact{
    min-height: 350px;
    height: calc(65vh - 96px);
} */

.btn-dark-per {
    font-family: 'Genos', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #e9e8e8;
    background-color: #913175;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
}

.btn-dark-per:hover {
    background-color: #f9a826;
    color: #20262e;
}

/* DETAIL CSS */

.container-detail {
    border: 1px solid #d90268;
    border-radius: 25px;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
}

.img-card-detail {
    object-fit: cover;
    width: auto;
    height: 100%;
}

.container-img-detail {
    border-radius: 25px 0 0 25px;
    width: 50%;
    overflow: hidden;
}

@media (max-width: 768px) {
    .img-card-detail {
        object-fit: cover;
        width: auto;
        height: 100%;
    }

    .container-img-detail {
        border-radius: 25px 25px 0 0;
        width: 100%;
    }
}


/* STATS CSS */

.stats {
    background-color: #d50267;
    color: #e9e8e8;
    font-family: 'Genos', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0 0.2rem #913175;
    overflow: hidden;
    text-align: center;
}

.stats tr th {
    padding: 0.3rem 0;
    background-color: #20262e;
}

.stats tr td {
    padding: 0.3rem 0;
    border-top: 2px solid #fff;
}

.stats tr td:nth-child(even) {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.stats tr td:hover {
    background-color: #f9a826;
    color: #20262e;
}