@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark-per{
    background-color: #20262E;
}

.bg-light-per{
    background-color: #e9e8e8;
}

main, footer{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Genos', sans-serif;
    font-size: 1.2rem;
}

header .navbar{
    font-family: 'Genos', sans-serif;
    min-height: 56px;
    height: 10vh;
    width: 100%;
}

footer{
    top: 10vh;
    position: relative;
    min-height: 120px;
    height: 15vh;
    width: 100%;
}

main{
    position: relative;
    top: 10vh;
    min-height: calc(100vh - 25vh);
}

@media (max-width: 768px){
    header .navbar{
        height: auto;
    }

    /* navbar tiene 71px cuando esta collapsado */
    main{
        min-height: calc(85vh - 71px);
        top: 71px;
    }

    footer{
        top: 71px;
    }
}


/* General */

.form-control:focus,
#inputFinder:focus {
    box-shadow: 0 0 0 0.2rem #f9a826;
}

.arrow-disabled {
    color: #b7b7b7;
    cursor: not-allowed;
}

.nav-arrow {
    background-color: #913175;
    box-shadow: 0 0.2rem 0 0.2rem #d90268;
    height: 100px;
}

.main-title {
    font-family: 'Genos', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 0 0.1rem 0.1rem #000;
}

.form-check:hover .form-check-input {
    box-shadow: 0 0 0 0.2rem #f9a826;
}

.form-check-input:focus {
    border: none;
    box-shadow: 0 0 0 0.2rem #f9a826;
}

.form-check-input:checked {
    background-color: #913175;
    border-color: #913175;
}

.arrow-active {
    color: white;
    cursor: pointer;
}

.arrow-active:hover {
    color: #f9a826;
}

.arrow-active:active {
    transform: scale(0.9);
}

.form-check-input, .form-check-label{
    cursor: pointer;
    font-weight: 500;
}

.description:first-of-type:first-letter {
    font-size: 1.8em;
    font-family: Georgia, Times, serif;
    margin-right: 0.05em;
}
